<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>uniA80DA806A818</key>
  <string>uniA_80D_A_806A_818.glif</string>
  <key>uniA816A806A818</key>
  <string>uniA_816A_806A_818.glif</string>
  <key>uniA81AA806A818</key>
  <string>uniA_81A_A_806A_818.glif</string>
</dict>
</plist>
